<!DOCTYPE html>
<!-- this hypertext was originally created for

NYU ITP – Web Art As Site
w/ professor Theo Ellin Ballew  
Spring 2023

but it became my final for the following classes as well lol

Worldmaking with Unity
w/ professor ZhenZhen Qi

Dynamic Web Development
w/ professor Ahmad Arshad

shoutout to Github, Twine (a gift from god), Unity (way too cool), MongoDB (hate u, and Node.js (still dont understand completely)! 

and of course, thank you so so much to the real MVPs

robert <3
theo
zhenzhen
ahmad
michelle
mashi
drew
carlson
mom and dad!!!

for your time, knowledge, help, patience, encouragement, and inspiration! :') 

-->
<html>
    <head>
        <title>xX_4evr_fift33n_Xx</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
<div class="container">

<div id="title">FOREVER<br>FIFTEEN</div>
<div id="start"><a href="/getoutofmyroom">start</a></div>
<div id="name">by<br>angela juarez</div>

</div>
<script src="./js/main.js"></script>
<script src="./models/todo.js"></script>
<script src="./config.js.js"></script>
<script src="./server.js"></script>
<script src="index.js"></script>
    </body>
</html>